/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* always reset */
@import "reset.less";

@import "stub.less";
@import "swiss.css";

body {
  background: url('gradient.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.page {
  margin-top: 20px;
}

.dark-title {
  color: #3E3D3C!important;
}

.whitetext {
  color: white!important;
}

.block-gp-global {
    &.block-titles {
      width: 100%;
      float: left;
      font-family: 'Swiss721BT-Bold', Helvetica, sans-serif;
      font-size: 60px;
      line-height: 70px;
      text-transform: uppercase;
      cursor: pointer;
        h2 {
        line-height: 50px!important;
        font-family: 'Swiss721BT-Bold', Helvetica, sans-serif!important;
        }
        .relaunching {
          font-size: 17px;
          text-transform: none;
          font-family: 'Swiss721BT-Roman';
          .light-gray;
          margin-left: 5px;
          margin-top: 30px;
          padding-bottom: 20px;
          border-bottom: 1px solid #9C9B9A;
          width: 210px;
          margin-bottom: 35px;
        }
      .node {
        .light-gray;
      }
      .node:hover {
        color: #3E3D3C;
      }
    }
    &.block-frontcontent {
      background: transparent;
      width: 100%;
      float: left;
      position: relative;
      .node-front-page-item {
        float: left;
        display: none;
      }
    .field-name-field-company-name {
      .subheading-white;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
    }
    .field-name-body {
      .body-text;
      margin-bottom: 30px;
      width: 100%;
      width: 390px\9;
    }
  }
}
